*.aux
*.log
*.out
*.toc
*.blg
*.bbl
super_lattice_models_draft.synctex.gz
super_lattice_models_draft.pdf
super_lattice_models_draft.toc
arxiv_v2/super_lattice_models_draft.toc
super_lattice_models_draft_kruft.pdf
super_lattice_models_draft_kruft.tex
super_lattice_models_draft copy.pdf
